.iframe-holder {
	.title-wrap {
		margin-bottom: @baseLineHeight;

		.title {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.controls-holder {
		margin-top: @baseLineHeight / 2;
		//height: @baseLineHeight * 2;
		//margin-top: @baseLineHeight / 2;
	}
}