.widget-holder {
  width: 705px;
  margin-bottom: 20px;
}
.widget-plans th,
.widget-plans td {
  border-width: 1px;
}
.widget-plans .plan-title {
  font-size: 120%;
  margin-bottom: .25em;
}
.widget-plans .price {
  white-space: nowrap;
}
.widget-plans .price .small {
  font-size: 80%;
}
